@use "../utils/" as *;

.about-cv {
  position: absolute;
  right: 17px;
  top: 128px;
  font-weight: $font-weight-medium;
  color: $color-success;
  &__fa {
    margin-right: 12px;
  }
}

.about-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  padding-bottom: 32px;
  gap: 64px;
  &__link {
    display: flex;
    color: $color-secondary;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 128px;
    width: 128px;
    font-weight: $font-weight-medium;
    transition: all 200ms ease;
    &:hover {
      text-decoration: none;
      color: $color-text-light;
    }
    &__font-awesome {
      font-size: $font-size-giant;
      margin-bottom: 8px;
    }
    &.is-dark-mode {
        color: $color-text-light;
        &:hover {
          color: $color-secondary;
        }
    }
  }
  .active {
    font-weight: $font-weight-bold;
    color: $color-primary;
    position: relative; 
    transition: all 200ms ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid $color-tertiary;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -33px; 
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 16px solid transparent; 
      border-right: 16px solid transparent;
      border-bottom: 16px solid $color-pure; 
      z-index: 2; 
    }
    &.is-dark-mode {
        color: $color-selector;
    }
    &.is-dark-mode::before {
      border-bottom-color: $color-secondary;
    }
    &.is-dark-mode::after {
      border-bottom-color: $color-pure-inverted;
    }
  }
}
