@use "../utils/" as *;

.hero {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    line-height: $spacing-xl;
    &__title {
        font-size: $font-size-xxxl;
        margin-bottom: 100px;
        &--variant {
            color: $color-text-middle;
            &.is-dark-mode {
                color: $color-text-light;
            }
        }
    }
    &__subtitle {
        font-size: $font-size-l;
        font-weight: $font-weight-thin;
    }
    &__location {
        font-size: $font-size-s;
        font-weight: $font-weight-regular;
        color: $color-text-middle;
        &.is-dark-mode {
            color: $color-text-light;
        }
        &__font-awesome {
            font-size: $font-size-s;
            height: 16px;
            margin-right: 8px;
        }
    }
}