@use "../utils/" as *;

.hero-content {
    margin-block: 64px;
    display: flex;
    flex-direction: column;
    position: relative;
    // background: $color-primary;
    align-items: center;
    &__layout {
        display: flex;
        flex-direction: row;
        overflow: visible;
    }
    &__cta {
        display: flex;
        position: absolute;
        bottom: 32px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
        left: 50%; 
        transform: translateX(-50%); 
    }
}

.hero {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    line-height: $spacing-xl;
    &__subtitle {
        margin-top: 40px;
    }
    &__location {
        margin-top: 12px;
        font-size: $font-size-s;
        font-weight: $font-weight-regular;
        color: $color-text-middle;
        &.is-dark-mode {
            color: $color-text-light;
        }
        &__font-awesome {
            font-size: $font-size-s;
            height: 16px;
            margin-right: 8px;
        }
    }
    &__cta {
        margin-top: 70px;
        gap: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}