@use "../utils/" as *;

.latest {
    margin-top: 32px;
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__thumb-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}