@use "../utils/" as *;

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  &__link {
    background: none;
  }
  &__logo {
    height: 32px;
    fill: $color-tertiary;
    &.is-dark-mode {
      fill: $color-text-middle;
    }
  }
  &__link-logo {
    height: 32px;
    fill: $color-tertiary;
    &.is-dark-mode {
      fill: $color-text-middle;
    }
    &:hover {
      fill: $color-primary;
      &.is-dark-mode {
        fill: $color-tertiary;
      }
    }
  }
}
