@use "../utils/" as *;

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    z-index: 9999;
  }
  
  .spinner {
    border: 6px solid $color-tertiary;
    border-top: 6px solid $color-primary;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 1s cubic-bezier(0.2, 0.4, 0.9, 1) infinite;
    &.is-dark-mode {
      border: 6px solid $color-secondary;
      border-top: 6px solid $color-primary;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  