@use "../utils/" as *;

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    &__link {
        display: flex;
        align-items: center;
        height: 24px;
        font-weight: $font-weight-bold;
        transition: all 200ms ease-in-out;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $color-primary;
            transition: all 200ms ease;
            transform: translateX(-50%);
        }
        &:hover {
            text-decoration: none;
            color: $color-primary;
        }
        &__send-icon {
            height: 24px;
            margin-right: 8px;
        }
        &--black {
            padding: 8.5px 17px;
            border-radius: $border-radius-s;
            background: $color-primary;
            color: $color-text-inverted;
            font-weight: $font-weight-bold;
            &:hover {
                background: $color-primary-hover;
                color: $color-canvas;
            }
            &.is-dark-mode {
                color: $color-text-inverted;
            }
        }
    }
    .active {
        color:  $color-primary;
        // border-bottom: 2px solid $color-primary;
        &::after {
            width: 100%;
        }
    }
    .active-contact {
        background: none;
        color: $color-text;
        border: 2px solid $color-primary;
        &.is-dark-mode {
            background: none;
            color: $color-canvas;
            border: 1px solid $color-canvas;
        }
    }
}