@use "../utils/" as *;

.page-title {
    &--variant {
        color: $color-text-middle;
        &.is-dark-mode {
            color: $color-text-light;
        }
    }
    @for $i from 1 to 6 {
        &--h#{$i}--tiny {
            font-size: nth($list: 2rem 2rem 1.5rem 1.5rem 1rem 1rem , $n: $i);
        }
    }
}