.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 68px;
    margin: 0 auto;
    @media (max-width: 1240px) {
    }
}