@forward "fonts";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/700.css";

$font-primary: "Proxima Nova", 'Montserrat', sans-serif;

$color-primary: #066177;
$color-primary-hover: #11728a;
$color-primary-active: #053845;
$color-secondary: #3d3d3d;
$color-tertiary: #bcbcbc;

$color-pure: #f4f4f4;
$color-pure-inverted: #1e2229;

$color-canvas: #eaeaea;
$color-canvas-inverted: #16191F;

$color-text: #000000;
$color-text-middle: #4b4b4b;
$color-text-light: #adadad;
$color-text-inverted: #ffffff;

$color-selector: #0e88a4;
$color-danger: #d93936;
$color-success: #3ba55c;
$color-sun: rgb(255, 222, 114);
$color-moon: #2b639f;
$color-is-sun: #ebb503;
$color-is-moon: #9acbff;


$scrollbar: #f6f6f6;
$scrollbar-thumb: #3d3d3d;

@mixin gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.4086426807050946) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.4086426807050946) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.4086426807050946) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$font-size-giant:4.5rem; 
$font-size-xxxl: 3.5rem; // 40px
$font-size-xxl: 1.875rem; // 30px
$font-size-xl: 1.75rem; // 28px
$font-size-l: 1.5rem; // 24px
$font-size-m: 1.125rem; // 18px
$font-size-s: 1rem; // 16px
$font-size-xs: 0.938rem; // 15px

$spacing-xxl: 2.5rem;
$spacing-xl: 2rem;
$spacing-l: 1.5rem;
$spacing-m: 1rem;
$spacing-s: 0.5rem;
$spacing-xs: 0.25;

$breakpoint-xxl: 1440px;
$breakpoint-xl: 1200px;
$breakpoint-l: 992px;
$breakpoint-m: 768px;
$breakpoint-s: 576px;
$breakpoint-xs: 375px;

$width-xxl: 1440px;
$width-xl: 1050px;
$width-l: 992px;
$width-m: 768px;
$width-s: 576px;
$width-xs: 375px;

$z-index-modal: 1000;
$z-index-dropdown: 900;
$z-index-navbar: 800;
$z-index-location: 700;

$box-shadow-xxl: 0px 4px 15px rgba(0, 0, 0, 0.35);
$box-shadow-xl: 0px 4px 15px rgba(0, 0, 0, 0.15);
$box-shadow-l: 0px 4px 10px rgba(0, 0, 0, 0.25);
$box-shadow-m: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-s: 0px 2px 4px rgba(0, 0, 0, 0.15);

$border-radius-xxxl: 30px;
$border-radius-xxl: 25px;
$border-radius-xl: 20px;
$border-radius-l: 15px;
$border-radius-m: 10px;
$border-radius-s: 5px;

$transition-duration: 0.3s;
$transition-duration-fast: 0.1s;

$scrollbar-size: 15px;
