@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 5% 99%;
    --foreground: 234 16% 35%;
    --muted: 220 12% 90%;
    --muted-foreground: 220 12% 30%;
    --popover: 220 23% 92%;
    --popover-foreground: 234 16% 25%;
    --card: 264 23% 93%;
    --card-foreground: 234 16% 30%;
    --border: 220 13% 90%;
    --input: 220 13% 87%;
    --primary: 266 93% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 78% 22%;
    --secondary-foreground: 266 30% 15%;
    --accent: 264 21% 89%;
    --accent-foreground: 220 23% 20%;
    --destructive: 3 87% 37%;
    --destructive-foreground: 3 87% 97%;
    --ring: 266 85% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 50% 4%;
    --foreground: 0 0% 98%;
    --muted: 214 8% 15%;
    --muted-foreground: 214 12% 65%;
    --popover: 214 5% 5%;
    --popover-foreground: 218 7% 88%;
    --card: 264 80% 4%;
    --card-foreground: 218 7% 83%;
    --border: 214 7% 13%;
    --input: 214 7% 16%;
    --primary: 266 93% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 264 78% 22%;
    --secondary-foreground: 270 30% 85%;
    --accent: 264 40% 25%;
    --accent-foreground: 214 17% 83%;
    --destructive: 2 89% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 84% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
