@use "../utils/" as *;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $color-canvas;
  &.is-dark-mode {
    background-color: $color-canvas-inverted;
    color: $color-text-inverted;
  }
  &::-webkit-scrollbar {
    width: $scrollbar-size;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbar;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    border-radius: $border-radius-s;
  }
}

body,
header,
main,
aside,
footer {
  font-family: $font-primary;
}


a {
	color: inherit;
  text-decoration: none;
	&:hover {
		color: inherit;
    text-decoration: underline;
	}
	&:active {
		color: inherit;
	}
}